.firstcontainer{
    display: flex;
    justify-content: space-between;
}
.addbtn{
    margin-top: -18px; 
    width: 99px;
    height: 45px;
}
.searchinput{
    margin-top: -50px;
    margin-right: 330px;
}