



.searchinput{
    position: relative;
    left: 200px;
    padding: 8px;
    margin: 8px;
    border: 2px solid;
    border-radius: 5px;
    top: 50px;
    margin-left: 50px;
   
}
.table{
    display: flex;
    flex-wrap: wrap;
}


.table-wrapper {
    overflow-x: auto;
  }
  
  /* Make the table responsive */
  .table-wrapper table {
    min-width: 100%;
  }
  
.paper{
  width: 100%;
  overflow: auto;
    position:relative;
     right:30px ;
     top:50px
}

.popup{
  width: 250px;
 
}
  